## Data Collection

In [295]:
#Import  web scraping libraries
import requests
from bs4 import BeautifulSoup

## Sport

In [296]:
#the first main field : SPORTS:
URLS_Sport=[]
Sport_Articles=[]
Sport_Titles=[]
#URL of Sport Articles
URL = 'https://en.wikipedia.org/wiki/Sport' 
page = requests.get(URL)
bsoup = BeautifulSoup(page.content, 'html.parser')
rlts = bsoup.find(id='mw-content-text')
title=soup.find(id="content")

In [297]:
title=title.find("h1")
#the title of the article
t=title.get_text()

In [300]:
art = rlts.find_all('div', class_='mw-parser-output')
content=""
for x in art:
    for i in x.find_all('p'):
      #Extract Article paragraphs
      content=content+i.text

In [302]:
rlts = bsoup.find_all('div',class_='div-col')
URLS_Sport=[]
txt="https://en.wikipedia.org/"
for x in rlts:
  z=x.find_all('a', href=True)
for i in z:
  #URLS of related articles
  URLS_Sport.append(txt+i['href'])
print('We have',len(URLS_Sport),"sports' article")

We have 43 sports' article

**Collecting the articles from the links**

In [303]:
for link in URLS_Sport:
  URL = link
  page = requests.get(URL)
  soup = BeautifulSoup(page.content, 'html.parser')
  results = soup.find(id='mw-content-text')
  title=soup.find(id="content")
  title=title.find("h1")
  t=title.get_text()  #Title of article
  Sport_Titles.append(t)
  art = results.find_all('div', class_='mw-parser-output')
  s=""
  for x in art:
    for i in x.find_all('p'):
      #Extract Article paragraphs
      s=s+i.text
  Sport_Articles.append(s)

In [304]:
print(len(Sport_Articles))
print(len(URLS_Sport))

43
43

## Society

In [305]:
#the second main field : SOCIETY:
URLS_Society=[]
Society_Articles=[]
Society_Titles=[]
#URL of Society Articles
URL = 'https://en.wikipedia.org/wiki/Society' 
page = requests.get(URL)
bsoup = BeautifulSoup(page.content, 'html.parser')
rlts = bsoup.find(id='mw-content-text')
title=bsoup.find(id="content")

In [306]:
title=title.find("h1")
#the title of the article
t=title.get_text()

In [307]:
artictles = rlts.find_all('div', class_='mw-parser-output')
content=""
for x in artictles:
    for i in x.find_all('p'):
      #Extract Article paragraphs
      content=content+i.text

In [308]:
len(Society_Articles)

0

In [309]:
results = bsoup.find_all('div',class_='div-col')
txt="https://en.wikipedia.org/"
for x in results:
  z=x.find_all('a', href=True)
for i in z:
  #URLS of related articles
  URLS_Society.append(txt+i['href'])
print('We have',len(URLS_Society),"Society' article")

We have 31 Society' article

**Collecting the articles from the links**

In [310]:
for link in URLS_Society:
  URL = link
  page = requests.get(URL)
  soup = BeautifulSoup(page.content, 'html.parser')
  results = soup.find(id='mw-content-text')
  title=soup.find(id="content")
  title=title.find("h1")
  t=title.get_text()  #Title of the article
  Society_Titles.append(t)
  art = results.find_all('div', class_='mw-parser-output')
  s=""
  for x in art:
    for i in x.find_all('p'):
      #Extract Article paragraphs
      s=s+i.text
  Society_Articles.append(s)

In [311]:
print(len(Society_Articles))

31

# Information technology

In [312]:
#the third main field : Information technology:
URLS_Information_technology=[]
Information_technology_Articles=[]
Information_technology_Titles=[]
#URL of Information technology Articles
URL = 'https://en.wikipedia.org/wiki/Information_technology' 
page = requests.get(URL)
bsoup = BeautifulSoup(page.content, 'html.parser')
rlts = bsoup.find(id='mw-content-text')
title=bsoup.find(id="content")

In [313]:
title=title.find("h1")
#the title of the article
t=title.get_text()

In [314]:
artictles = rlts.find_all('div', class_='mw-parser-output')
content=""
for x in artictles:
    for i in x.find_all('p'):
      #Extract Article paragraphs
      content=content+i.text

In [316]:
results = bsoup.find_all('div',class_='div-col')
txt="https://en.wikipedia.org/"
for x in results:
  z=x.find_all('a', href=True)
for i in z:
  #URLS of related articles
  URLS_Information_technology.append(txt+i['href'])
print('We have',len(URLS_Information_technology),"Information technology' article")

We have 13 Information technology' article

In [317]:
for link in URLS_Information_technology:
  URL = link
  page = requests.get(URL)
  soup = BeautifulSoup(page.content, 'html.parser')
  results = soup.find(id='mw-content-text')
  title=soup.find(id="content")
  title=title.find("h1")
  t=title.get_text()  #Title of the article
  Information_technology_Titles.append(t)
  art = results.find_all('div', class_='mw-parser-output')
  s=""
  for x in art:
    for i in x.find_all('p'):
      #Extract Article paragraphs
      s=s+i.text
  Information_technology_Articles.append(s)

In [318]:
print(len(Information_technology_Articles))

13

## Cleaning Data

In [319]:
#Import libraries:
import re
import pandas as pd
import nltk
import string
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\hajar
[nltk_data]     taouil\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [320]:
#Put all articles in one list
Articles = Sport_Articles+Information_technology_Articles+Society_Articles

#Put all titles in one list
Titles = Sport_Titles+ Information_technology_Titles + Society_Titles

#id for each article
IDS=[i for i in range(len(Titles))]

#Data Cleaning
j=0
for i in Articles:
  #remove \n
   Articles[j]= i.replace('\n','')
   j=j+1

j=0
for i in Articles:   
   #remove \xa0
   Articles[j]= i.replace(u'\xa0', u' ')
   j=j+1

j=0
for i in Articles:
  #remove numbers between box brackets 
   Articles[j] = re.sub(r'[\d]', '', i) 
   j=j+1

In [321]:
list_of_art = list(zip(IDS,Titles, Articles))  
df = pd.DataFrame(list_of_art, 
                  columns = ['id', 'Title','Article']) 
df.head()

   id               Title                                            Article
0   0  Sport of athletics  Athletics is a group of sporting events that i...
1   1    Animals in sport  Animals in sport are a specific form of workin...
2   2        Combat sport  A combat sport, or fighting sport, is a compet...
3   3          Parasports  Parasports are sports played by people with a ...
4   4             Esports  Esports (also known as electronic sports, e-sp...

In [322]:
#Remove punctuation
def remove_punc(text):
  no_punc="".join([c for c in text if c not in string.punctuation])
  return no_punc
j=0
for i in Articles:
  Articles[j]=remove_punc(i)
  j=j+1

In [323]:
#Remove special caracters
def special_car(text):
   no_spe=re.sub('[^A-Za-z]+', ' ', text)
   return no_spe
j=0
for i in Articles:
  Articles[j]=special_car(i)
  j=j+1

## Recommender System: Content Filtering

Content-based filtering uses item features to recommend other items similar to what the user likes, based on their previous actions or explicit feedback.

In [324]:
#Import libraries
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [325]:
#Define a TF-IDF Vectorizer Object and remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(Articles)

#Output the shape of tfidf_matrix
tfidf_matrix.shape
#tfidf.get_feature_names()

(87, 18261)

In [326]:
# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
print("cosine_sim[0]= ",cosine_sim[0])
print("shape ",cosine_sim.shape)

cosine_sim[0]=  [1.         0.10896574 0.1010486  0.29476586 0.11591366 0.06343361
 0.02658566 0.19049361 0.05111374 0.12273154 0.13597706 0.27741599
 0.07147864 0.09969474 0.24441656 0.29628144 0.07096864 0.0496307
 0.10652029 0.02605264 0.09067048 0.17902173 0.16397516 0.06472516
 0.06539499 0.07376079 0.09333416 0.06343361 0.17173531 0.16062747
 0.15893825 0.1350639  0.09410964 0.02039966 0.05715712 0.15666865
 0.10253231 0.15866254 0.17624257 0.09928937 0.22894511 0.
 0.08755289 0.02521156 0.02265962 0.02618007 0.01554636 0.03574614
 0.03218516 0.02421343 0.00432385 0.01832035 0.01282084 0.01992668
 0.01315563 0.05913104 0.03019397 0.0623857  0.04424077 0.03858413
 0.01144055 0.04982322 0.01653015 0.01971796 0.0551715  0.0355307
 0.02509048 0.0186507  0.01735797 0.03825398 0.04160232 0.02158229
 0.04440897 0.02249279 0.02836579 0.02101482 0.02710831 0.02882266
 0.06103568 0.02769618 0.06103568 0.0401598  0.02708704 0.02665887
 0.03077731 0.04724931 0.02898181]
shape  (87, 87)

In [327]:
#Construct a reverse map of indices and article titles

indices = pd.Series(df.index, index=df['Title']).drop_duplicates()

In [328]:
#Indices
indices[90:]

Series([], dtype: int64)

In [329]:
# Function that takes in article title as input and outputs most similar articles
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the article that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all articles with that article
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the articles based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar articles
    sim_scores = sim_scores[1:11]

    # Get the article indices
    article_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar articles
    return df['Title'].iloc[article_indices]

In [336]:
#Let's test with title = "Women's sports"
get_recommendations("Women's sports")

31         Sports marketing
3                Parasports
7       International sport
0        Sport of athletics
22              Sports club
11        Multi-sport event
38               Team sport
14            Olympic Games
28    Sports governing body
21         Sport psychology
Name: Title, dtype: object

We get the 10 most similar articles to Women's sports Article